<div class="container-fluid p-0">
  <div class="row m-0 justify-content-center">

    <div class="col-4 p-0 text-center">
      <p class="h5 text-center text-second">
        Room Id : <strong>{{ roomId }}</strong>
      </p>
    </div>

    <div *ngIf="roomId" class="col-4 p-0 text-center">
      <app-selector-handler [roomId]="roomId"></app-selector-handler>
    </div>

    <div class="col-4 p-0 text-center">
      <p class="h5 text-center text-second" *ngIf="sharedVariableService.getShouldRateOtherUsersMovies()">
        Your friends liked liked some of these movies !
      </p>
    </div>

  </div>
</div>
