<div>
  <button type="button" (click)="updateRooms()" class="btn btn-primary">Refresh rooms</button>
  <button type="button" (click)="addNewRoom()" class="btn btn-primary">Create new room</button>
</div>
<div>
  <form (ngSubmit)="joinRoom(userForm)" #userForm="ngForm">
    <div class="chat-send row">
      <div class="col-2">
        <input type="text" class="form-control" name="userName" id="input-userName" ngModel>
      </div>
      <div class="col-2">
        <input type="text" class="form-control" name="roomId" id="input-rooomId" ngModel>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Add user</button>
      </div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Room Id</th>
      <th scope="col">Number of users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of availableRooms">
      <th>{{ room.roomId }}</th>
      <td>{{ room.connectedUsers.length }}</td>
    </tr>
  </tbody>
</table>
