<div class="container-fluid border my-2">
  <form (ngSubmit)="joinRoom(userForm)" #userForm="ngForm">
    <div class="form-group">
      <button [disabled]="this.roomHandlerService.currentUser || userForm.value.userName == ''"
        type="button" (click)="addNewRoom(userForm.value.userName)" class="btn btn-primary">Create new room</button>
    </div>
    <div class="form-group">
      <label for="input-userName">User name</label>
      <input type="text" class="form-control" name="userName" id="input-userName" ngModel placeholder="User name">
    </div>
    <div class="form-group">
      <label for="input-userName">Room ID</label>
      <input type="text" class="form-control" name="roomId" id="input-rooomId" ngModel placeholder="Room ID">
    </div>
    <div class="form-group">
      <button type="button" (click)="updateRooms()" class="btn btn-primary mr-2">Refresh</button>
      <button [disabled]="this.roomHandlerService.currentUser || (userForm.value.roomId == '' || userForm.value.userName == '')" type="submit" class="btn btn-primary ml-2">Join room</button>
    </div>
  </form>
</div>

<div class="container-fluid border my-2">
  <div class="row m-2">
    <table class="table border">
      <thead>
        <tr>
          <th scope="col">Room Id</th>
          <th scope="col">Number of users</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of availableRooms">
          <th>{{ room.roomId }}</th>
          <td>{{ objectClass.keys(room.connectedUsers).length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
