<div *ngIf="currentMovie">
  <div class="card" style="width: 18rem;">
    <img src="{{ isImageLoading ? 'assets/images/Image_not_found.jpeg' : currentMovie.currentMoviePoster }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title text-center">{{ currentMovie.title }}</h5>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-4">
            <a (click)="dislikeMovie()" class="btn btn-primary">Nope</a>
          </div>
          <div class="col-4">
            <a (click)="likeMovie()" class="btn btn-primary">Yes</a>
          </div>
        </div>
      </div>
      <p class="card-text">{{ currentMovie.overview }}</p>
    </div>
  </div>
</div>
<div>
  <!-- <button [disabled]="roomHandlerService.currentUser == null" type="button" (click)="nextMovie()" class="btn btn-primary">Start</button> -->
  <button type="button" (click)="nextMovie()" class="btn btn-primary">Start</button>
</div>
